/* fonts */
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic);

/* general style */
body    { font: 17px/25px 'Merriweather', serif;
          margin: 0; padding: 0; font-weight: 300; }
a       { color: black; font-weight: 400; }
a:hover { color: #0099FF; }

/* headlines */
h1, h2, h3, h4, h5, h6      { font-family: 'Merriweather', serif;
                              font-weight: 300; color: #222; }
h1 a, h2 a, h3 a, h4 a,
h5 a, h6 a                  { text-decoration: none; }
h1 a:hover, h2 a:hover,
h3 a:hover, h4 a:hover      { text-decoration: underline; }
h1.title                    { width: 560px; }
h1                          { font-size: 32px; line-height: 44px; margin: 35px 0 30px 0; }
h2                          { font-size: 26px; line-height: 40px; margin: 35px 0 10px 0; }
h3                          { font-size: 20px; line-height: 40px; margin: 25px 0 10px 0; }


/* layout elements */
div.container               { max-width: 760px; margin: 48px auto; padding: 0 10px; }
div.header                  { float: left; }
div.navigation              { float: right; }
div.header, div.navigation  { height: 25px; margin-bottom: 42px; }
div.navigation ul           { margin: 0; padding: 0; list-style: none; }
div.navigation ul li        { display: inline; margin: 0 2px; padding: 0; }
div.body                    { clear: both; }
div.footer                  { border-top: 1px solid #555; padding-top: 9px;
                              margin-top: 42px; font-size: 16px;
                              text-align: center; color: #555; }
div.footer p                { margin: 0; }
div.mermaid                 { text-align: center; color: transparent; } 
div.mermaid > svg           { max-width: 100%; }
div.center                  { text-align: center; }

blockquote {
    background: #ddd;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0.5em;
    border-radius: 5px;
}

blockquote:first-child {
    margin-top: 5px;
}

blockquote:first-child {
    margin-bottom: 5px;
}

/* margins and stuff */
p, div.line-block, ul, ol, pre,
    table                       { margin: 15px 0 15px 0; }
dt                              { margin: 25px 0 16px 0; padding: 0; }
dd                              { margin: 16px 0 25px 40px; padding: 0; }
ul ol, ol ul, ul ul, ol ol      { margin: 10px 0; padding: 0 0 0 40px; }
li                              { padding: 0; }
h1 + p.date                     { margin-top: -25px; }
/* paragraph justification */
p { text-align: justify; }
p strong { font-weight: bold; }

img { max-width: 100%; }

/* code formatting.  no monospace because of webkit (bug?) */
pre { padding: 5px; }
pre, code, tt   { font-family: 'Ubuntu Mono', 'Consolas', 'Deja Vu Sans Mono',
                  'Bitstream Vera Sans Mono', 'Monaco', 'Courier New';
                  /*font-size: 1.0m;*/
                  /*border-radius: 10px;*/
                  /*padding: 5px;*/
                }


/* tables */
table           { border: 1px solid #ddd; border-collapse: collapse;
                  background: #fafafa; }
td, th          { padding: 2px 12px; border: 1px solid #ddd; }

/* footnotes */
table.footnote          { margin: 15px 0; background: transparent; border: none; }
table.footnote td       { border: none; padding: 9px 0 0 0; font-size: 15px; }
table.footnote td.label { padding-right: 10px; }
table.footnote td p     { margin: 0; }
table.footnote td p + p { margin-top: 15px; }

/* blog overview */
div.entry-overview                  { margin: 25px; /* 25px 25px 52px;*/ }
div.entry-overview h1,
div.entry-overview div.summary,
div.entry-overview div.summary p    { display: inline; line-height: 25px; }
div.entry-overview h1               { margin: 0; font-size: 20px; }
div.entry-overview div.summary,
div.entry-overview div.date,
div.entry-overview div.summary p    { margin: 0; padding: 0; }
div.entry-overview div.detail       { margin-left: 190px; }
div.entry-overview div.date         { float: left; width: 170px; color: #0099FF;
                                      text-align: right; font-size: 14px; }
@media screen and (max-width: 750px) {
    div.entry-overview {
        margin-left: 0;
        margin-right: 0;
    }
    div.entry-overview div.date {
        float: none;
        color: #0099FF;
        text-align: left;
        font-size: 14px;
    }
    div.entry-overview div.detail       {
        margin-left: 0px;
    }
}

div.entry-overview h1               { font-weight: normal; }
div.entry-overview h1:after         { content: " —"; }

/* other alignment things */
img.align-center        { margin: 15px auto; display: block; }

/* pagination */
div.pagination          { margin: 36px 0 0 0; text-align: center; }
div.pagination strong   { font-weight: normal; font-style: italic; }

/* tags */
p.tags          { text-align: right; }
ul.tagcloud     { font-size: 16px; margin: 36px 0; padding: 0;
                  list-style: none; }
ul.tagcloud li  { margin: 0; padding: 0 10px; display: inline; }

/* latex math */
span.math img   { margin-bottom: -7px; }

body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    /*width: 600px;*/
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div.footer p {
    text-align: center;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

code.hljs {
    display: inline;
    padding: 0;
    background: inherit;
}

pre > code.hljs {
    display: block;
    padding: 0.5em;
    background: #19171c;
}