<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="{{ description }}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/atelier-cave-dark.css" type="text/css">
        <link rel="stylesheet" href="/css/default.css" type="text/css">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">

        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
    
    
        <script 
            defer 
            src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" 
            integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" 
            crossorigin="anonymous"
            onload="renderMathInElement(document.body,{delimiters: [{left: '\\[', right: '\\]', display: true},{left: '$$', right: '$$', display: true},{left: '\\(', right: '\\)', display: false},{left: '$', right: '$', display: false}]})"
        >
        </script>
        <script src="https://cdn.jsdelivr.net/npm/mermaid@8.4.0/dist/mermaid.min.js"></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <a href="/">Types and Tailcalls</a>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="/">blog</a></li>
                    <!-- <li><a href="/til.html">til</a></li> -->
                    <li><a href="/archive.html">archive</a></li>
                    <li><a href="/notes.html">notes</a></li>
                    <li><a href="/about.html">about</a></li>
                    <!-- <li><a href="/rss.xml">rss</a></li> -->
                </ul>
            </div>
            <div class="body">
